@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* 

Justificativa das cores: a paleta de cores utilizada é a mesma encontrada na bandeira da União Europeia - conforme o significado da oficial da bandeira: doze estrelas douradas dispostas em círculo sobre um fundo azul, que simbolizam os ideais de unidade, solidariedade e harmonia entre os povos da Europa - muitos destes sentimentos explorados no design da bandeira, com destaque a "harmonia" são encontrados na cor azul, que é a predominante da paleta. O amarelo é utilizado principalmente como uma ferramenta de destaque, gerando contraste.


Justificativa da tipografia: foi utilizado fontes sem serifa por não haver muita necessidade de leitura, sendo um site com muito pouco texto para se justificar a necessidade de serifa para este fim específico. Além disso, a fonte sem serifa foi utilizada para equilibrar o tom do site, por se tratar de um tema mais sério - nações e um bloco econômico -, no entanto trazendo informações triviais, esse estilo de fonte deixa o site mais leve de se consumir, do contrário ficaria exageradamente formal.

*/


body {
    --white: #f9f9f9;
    --black: #36383F;
    --blue: #003399;
    --yellow: #FFDD00;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
    

    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--blue);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;

}

nav {
    width: 100%;
    height: 100%;
    top: 59px;
    position: fixed;
    background-color: var(--blue);
    overflow: hidden;

    max-height: 0;
    transition: max-height 1s ease-out;
}

.menu a {
    display: block;
    color: var(--white);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}

.menu a:hover {
    background-color: var(--yellow);
}

nav.active {
    max-height: 100%;
}

.logo-desktop {
    display: none;
    color: var(--yellow);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-left: 10px;
    position: fixed;
    top: 9px;
}

.logo-mobile {
    display: inline-block;
    color: var(--yellow);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-left: 10px;
    position: fixed;
    top: 9px;
    
}

header img {
    display: inline-block;    
    margin-left: 10px;
    margin-top: 5px;
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::after {
    top: -5px;
}

.hamb-line::before {
    top: 5px;
}


.content {
    display: grid;
    height: 100vh;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas: 
    "header"
    "middle"
    "footer";
}



.middle {
    grid-area: middle;
}


footer {
    grid-area: footer;
    width: 100%;
    height: 60px;
    background-color: var(--blue);
}


h2 {
    margin: 24px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    border-bottom: var(--blue) solid 1px;
}

h3 {
    margin: 5px auto;
    padding-top: 25px;
    text-align: center;
    

    width: 248px;
    height: 50px;


    font-size: 1.5rem;
    color: var(--white);
}

p {
    margin: 5px;
}

h2 ~ p {
    margin: 0 24px;
    font-family: 'Roboto', sans-serif;

}

.country-images figure {
    margin: 10px 0;
    text-align: center;
    
}

.country-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e6e6e6;
    width: 200px;
    padding: 24px 24px;
    margin: 5px auto;
    width: 100%;
    max-width: 200px; 

    border-top: var(--blue) solid 3px;
    border-bottom: var(--blue) solid 3px;

    border-radius: 25px;
    
    
}

.country-info {
    margin: 5px auto;
    padding: 24px 24px;
    width: 100%;
    max-width: 200px; 
    
    

    font-size: 1rem;
    color: var(--white);
    
}

form {
    margin-top: 1.8rem;
    text-align: center;
}

#brasao {
    width: 150px;
    height: 180px;
    
}

#bandeira {
    width: 220px;
    height: 180px;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 24px auto;
    background-image: linear-gradient(to right bottom, #003399, #0038a6, #013db4, #0242c1, #0347cf);
    box-shadow: 0 5px 10px 0 var(--black);
    
    border: var(--blue) solid 3px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

    max-width: 250px;
    
}

.carrossel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 24px;
}

.text-destaque {
    color: var(--yellow);
    font-weight: 700;
}

.select {
    padding: 5px;
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
    font-family: 'Roboto', sans-serif;

    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

button {
    background-color: var(--blue);
    color: var(--white);
    border: var(--blue);
    padding: 5px;
    height: 30px;
    
}

.chevron:hover {
    width: 5.1%;
    cursor: pointer;
}

.showing-content {
    display: block;
}

.loading {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 696px;
    width: 100%;
}

.loading img {
    animation: rotateStars;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    width: 5%;
    
}

#load {
    margin-bottom: 24px;
    width: 250px;
    height: 50px;
}

@keyframes rotateStars {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
    

}

@media (min-width: 768px) {

    .logo-mobile{
        display: none;
    }

    .logo-desktop {
        display: inline-block;
        color: var(--yellow);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 40px;
        margin-left: 10px;
        position: fixed;
        top: 9px;
        
    }
    
}

@media (min-width: 1200px) {


    nav {
        max-height: none;
        top: -25px;
        float: right;
        position: relative;
        width: fit-content;
        background-color: transparent;
        
    }

    .menu a {
        font-size: 1.5rem;
        padding: 20px;
    }

    .menu li {
        float: left;
    }

    .hamb {
        display: none;
    }


    h3 {
        width: 498px;
    }

    .country-images {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        max-width: 450px; 
    }

    .country-info {
        max-width: 450px;
    }

    .brasao {
        margin-bottom: 22px;
    }

    

    .card {
        max-width: 500px;
    }

}



